## An치lise explanat칩ria Empresas Ativas (SOCIOS)

#### Realiza칞칚o de uma an치lise explanat칩ria detalhada dos dados das empresas ativas da cidade do Recife, verificando poss칤veis inconsistencias ou duplica칞칫es nos registros.

##### 游릴游릴 Importando Bibliotecas

In [5]:
import pandas as pd
import numpy as np

In [7]:
# Arquivo original e o arquivo de sa칤da
input_file = "socios.csv"
output_file = "df_socios.csv"

# Abrindo o arquivo original e salvando em UTF-8
with open(input_file, mode='r', encoding='latin1') as infile, open(output_file, mode='w', encoding='utf-8') as outfile:
    for line in infile:
        outfile.write(line)

print(f"Arquivo '{output_file}' foi padronizado para UTF-8.")

Arquivo 'df_socios.csv' foi padronizado para UTF-8.

##### 游릴游릴 Padronizando o encoding

In [10]:
dados = pd.read_csv('df_socios.csv', encoding= 'UTF-8', sep=';')

##### 游릴游릴 Observando o dataframe

In [13]:
dados.head(5)

,CNPJ BASICO,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,QUALIFICACAO DO SOCIO,DATA DE ENTRADA DA SOCIEDADE,PAIS,REPRESENTANTE LEGAL,NOME DO REPRESENTANTE,QUALIFICACAO DO REPRESENTANTE LEGAL,FAIXA ETARIA
0,23588623,PESSOA FISICA,HAMANDA MARIA DE SOUZA,***641544**,S칍CIO-ADMINISTRADOR,20151103,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
1,23588988,PESSOA FISICA,EMANUEL MESSIAS DE FIGUEIREDO,***037174**,S칍CIO-ADMINISTRADOR,20151103,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
2,23595463,PESSOA FISICA,CLAUDIO ROBERTO FABRICIO DA SILVA,***670204**,S칍CIO-ADMINISTRADOR,20181130,NaN,***000000**,NaN,N츾O INFORMADA,51-60 anos
3,23603499,PESSOA FISICA,LEOCADIA MIRELLE DE SOUZA MELO,***450904**,S칍CIO-ADMINISTRADOR,20151105,NaN,***000000**,NaN,N츾O INFORMADA,31-40 anos
4,23604687,PESSOA FISICA,TIBERIO MENEZES DE SIQUEIRA,***537794**,S칍CIO-ADMINISTRADOR,20151105,NaN,***000000**,NaN,N츾O INFORMADA,61-70 anos

##### 游리 Verificado que Pa칤s tem dados nulos ...vamos olhar melhor

In [15]:
valores_unicos = dados['PAIS'].unique()
print(valores_unicos)

[nan 'CANADA' 'PORTUGAL' 'ESPANHA' 'ITALIA' 'ALEMANHA' 'ESTADOS UNIDOS'
 'CINGAPURA' 'VIRGENS, ILHAS (BRITANICAS)' 'NORUEGA' 'SUECIA' 'SUICA'
 'FRANCA' 'Pa칤ses Baixos (Holanda)' 'CAYMAN,ILHAS' 'BAHAMAS' 'JAPAO'
 'LUXEMBURGO' 'URUGUAI' 'DINAMARCA' 'ARGENTINA' 'BERMUDAS' 'MEXICO'
 'ANTILHAS HOLANDESAS' 'BELGICA' 'AUSTRIA' 'REINO UNIDO' 'HUNGRIA'
 'AFRICA DO SUL' 'RUSSIA, FEDERACAO DA' 'CHILE' 'PANAMA' 'PERU' 'COLOMBIA'
 'VIRGENS, ILHAS (EUA)' 'ISRAEL' 'FINLANDIA' 'ANGOLA'
 'EMIRADOS ARABES UNIDOS' 'China, Rep칰blica Popular' 'IRLANDA'
 'SEYCHELLES' 'AFEGANISTAO' 'GIBRALTAR' 'CHIPRE' 'MAURICIO' 'HONG-KONG'
 'LIECHTENSTEIN' 'INDIA' 'NIUE' 'BELISE' 'PORTO RICO' 'POLONIA'
 'IEMEN, REPUBLICA DO' 'THECA, REPUBLICA' 'MONACO' 'PARAGUAI'
 'NOVA ZELANDIA' 'GRECIA' 'EGITO' 'SAN MARINO' 'ISLANDIA'
 'COREIA REPUBLICA DA' 'MALTA' 'MACAU']

##### Deixar inicialmente tudo em maiusculo para padronizar

In [19]:
dados['PAIS'] = dados['PAIS'].str.upper()

##### 游릴游릴 Mostrar apenas os dados nulos da coluna PAIS

In [21]:
nan_pais = dados[dados['PAIS'].isna()]
nan_pais

,CNPJ BASICO,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,QUALIFICACAO DO SOCIO,DATA DE ENTRADA DA SOCIEDADE,PAIS,REPRESENTANTE LEGAL,NOME DO REPRESENTANTE,QUALIFICACAO DO REPRESENTANTE LEGAL,FAIXA ETARIA
0,23588623,PESSOA FISICA,HAMANDA MARIA DE SOUZA,***641544**,S칍CIO-ADMINISTRADOR,20151103,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
1,23588988,PESSOA FISICA,EMANUEL MESSIAS DE FIGUEIREDO,***037174**,S칍CIO-ADMINISTRADOR,20151103,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
2,23595463,PESSOA FISICA,CLAUDIO ROBERTO FABRICIO DA SILVA,***670204**,S칍CIO-ADMINISTRADOR,20181130,NaN,***000000**,NaN,N츾O INFORMADA,51-60 anos
3,23603499,PESSOA FISICA,LEOCADIA MIRELLE DE SOUZA MELO,***450904**,S칍CIO-ADMINISTRADOR,20151105,NaN,***000000**,NaN,N츾O INFORMADA,31-40 anos
4,23604687,PESSOA FISICA,TIBERIO MENEZES DE SIQUEIRA,***537794**,S칍CIO-ADMINISTRADOR,20151105,NaN,***000000**,NaN,N츾O INFORMADA,61-70 anos
...,...,...,...,...,...,...,...,...,...,...,...
287418,44758094,PESSOA FISICA,CESAR AUGUSTO PIMENTEL STAUDINGER,***690334**,S칍CIO-ADMINISTRADOR,20220105,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
287419,44759650,PESSOA FISICA,ANTONIO MANOEL DE LIMA FERREIRA,***407634**,S칍CIO-ADMINISTRADOR,20230224,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
287420,44761936,PESSOA FISICA,JAMILE MERIELE DE LIMA CAVALCANTI,***273605**,S칍CIO-ADMINISTRADOR,20220106,NaN,***000000**,NaN,N츾O INFORMADA,31-40 anos
287421,44769793,PESSOA FISICA,ERIC WILLIAN CORREIA DE MELO,***492414**,S칍CIO-ADMINISTRADOR,20211130,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos
287422,44769793,PESSOA FISICA,IZIDIO CORDEIRO CALADO,***006014**,S칍CIO-ADMINISTRADOR,20211130,NaN,***000000**,NaN,N츾O INFORMADA,41-50 anos

##### 游릴游릴 Verificando a quantidade de nulos por coluna (mostrando apenas as colunas com nulos)

In [25]:
# Contar os valores nulos por coluna
nulos_por_coluna = dados.isna().sum()

# Filtrar as colunas com valores nulos (maior que 0)
colunas_com_nulos = nulos_por_coluna[nulos_por_coluna > 0]

# Exibir as colunas com valores nulos
print(colunas_com_nulos)

NOME DO SOCIO                22
CPF DO SOCIO                147
PAIS                     285922
NOME DO REPRESENTANTE    277123
dtype: int64

##### 游릴游릴 Verificando campo nulo em NOME DO SOCIO

In [28]:
# Filtrar linhas onde a coluna 'PAIS' 칠 NaN
nan_logradouro = dados[dados['NOME DO SOCIO'].isna()]

nan_logradouro

,CNPJ BASICO,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,QUALIFICACAO DO SOCIO,DATA DE ENTRADA DA SOCIEDADE,PAIS,REPRESENTANTE LEGAL,NOME DO REPRESENTANTE,QUALIFICACAO DO REPRESENTANTE LEGAL,FAIXA ETARIA
17881,10596492,PESSOA FISICA,NaN,***438364**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
20386,11265345,PESSOA FISICA,NaN,***224504**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
63396,116136,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
68762,41230293,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
78008,1038895,PESSOA FISICA,NaN,***283144**,S칍CIO-ADMINISTRADOR,19971219,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
80985,8798993,PESSOA FISICA,NaN,***773314**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
81333,10578375,PESSOA FISICA,NaN,***099394**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
81383,10669893,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
81485,10869725,PESSOA FISICA,NaN,***391884**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
95938,8259129,PESSOA FISICA,NaN,***300674**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
119377,40812620,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
120976,9868852,PESSOA FISICA,NaN,***346334**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
124418,10667913,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
124455,11386547,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
149774,10668804,PESSOA FISICA,NaN,***773314**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
153213,11160728,PESSOA FISICA,NaN,***957064**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
153262,12587366,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
224396,8085169,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
224696,9869801,PESSOA FISICA,NaN,***000000**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
225132,11220696,PESSOA FISICA,NaN,***754504**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
272245,97412779,PESSOA FISICA,NaN,***030884**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA
273048,11265337,PESSOA FISICA,NaN,***224504**,PRESIDENTE,20050912,NaN,***000000**,NaN,N츾O INFORMADA,NAO SE APLICA

##### N칚o 칠 poss칤vel preencher esses campos nulos. No ponto de vista de an치lise as informa칞칫es referentes a pa칤s, representante e nome do socio n칚o s칚o muito relevantes mas por hora ser칚o mantidos

##### 游릴游릴 Verificando dados duplicados

In [35]:
duplicatas = dados.duplicated()

# Exibir as linhas duplicadas (se houver)
print(dados[duplicatas])

Empty DataFrame
Columns: [CNPJ BASICO, IDENTIFICADOR DO SOCIO, NOME DO SOCIO, CPF DO SOCIO, QUALIFICACAO DO SOCIO, DATA DE ENTRADA DA SOCIEDADE, PAIS, REPRESENTANTE LEGAL, NOME DO REPRESENTANTE, QUALIFICACAO DO REPRESENTANTE LEGAL, FAIXA ETARIA]
Index: []

##### N칚o h치 dados duplicados na tabela socios

##### 游릴游릴 Verificando os tipos dos dados

In [40]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287423 entries, 0 to 287422
Data columns (total 11 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   CNPJ BASICO                          287423 non-null  int64
 1   IDENTIFICADOR DO SOCIO               287423 non-null  object
 2   NOME DO SOCIO                        287401 non-null  object
 3   CPF DO SOCIO                         287276 non-null  object
 4   QUALIFICACAO DO SOCIO                287423 non-null  object
 5   DATA DE ENTRADA DA SOCIEDADE         287423 non-null  int64
 6   PAIS                                 1501 non-null    object
 7   REPRESENTANTE LEGAL                  287423 non-null  object
 8   NOME DO REPRESENTANTE                10300 non-null   object
 9   QUALIFICACAO DO REPRESENTANTE LEGAL  287423 non-null  object
 10  FAIXA ETARIA                         287423 non-null  object
dtypes: int64(2), object(9)
memory usage: 24.1+ MB

##### 游리 Em uma analise por data type 칠 preciso ajustar 'CNPJ BASICO' para object pois eles n칚o possui a fun칞칚o de soma visto que se trata de c칩digos
##### 游리 Em uma analise por data type 칠 preciso ajustar 'DATA DE ENTRADA DA SOCIEDADE' para o formato de data

##### 游릴游릴 Alterando Dtype para object

In [42]:
conversao = ['CNPJ BASICO']

# Converter as colunas espec칤ficas de 'int' para 'object'
dados[conversao] = dados[conversao].astype('object')

# Verificar os tipos de dados ap칩s a convers칚o
dados.dtypes

CNPJ BASICO                            object
IDENTIFICADOR DO SOCIO                 object
NOME DO SOCIO                          object
CPF DO SOCIO                           object
QUALIFICACAO DO SOCIO                  object
DATA DE ENTRADA DA SOCIEDADE            int64
PAIS                                   object
REPRESENTANTE LEGAL                    object
NOME DO REPRESENTANTE                  object
QUALIFICACAO DO REPRESENTANTE LEGAL    object
FAIXA ETARIA                           object
dtype: object

In [44]:
# Definir as colunas espec칤ficas para verificar
colunas_data = ['DATA DE ENTRADA DA SOCIEDADE']
dados[colunas_data]

        DATA DE ENTRADA DA SOCIEDADE
0                           20151103
1                           20151103
2                           20181130
3                           20151105
4                           20151105
...                              ...
287418                      20220105
287419                      20230224
287420                      20220106
287421                      20211130
287422                      20211130

[287423 rows x 1 columns]

In [46]:
# Substituir valores '0' ou inv치lidos por NaT (Not a Time)
dados['DATA DE ENTRADA DA SOCIEDADE'] = dados['DATA DE ENTRADA DA SOCIEDADE'].replace('0', pd.NaT)

# Converter para o formato datetime, for칞ando o tratamento de valores inv치lidos
dados['DATA DE ENTRADA DA SOCIEDADE'] = pd.to_datetime(dados['DATA DE ENTRADA DA SOCIEDADE'], errors='coerce', format='%Y%m%d')

# Formatar as datas para DD/MM/AAAA
dados['DATA DE ENTRADA DA SOCIEDADE'] = dados['DATA DE ENTRADA DA SOCIEDADE'].dt.strftime('%d/%m/%Y')

# Exibir as colunas para verificar a convers칚o
dados['DATA DE ENTRADA DA SOCIEDADE']

0         03/11/2015
1         03/11/2015
2         30/11/2018
3         05/11/2015
4         05/11/2015
             ...
287418    05/01/2022
287419    24/02/2023
287420    06/01/2022
287421    30/11/2021
287422    30/11/2021
Name: DATA DE ENTRADA DA SOCIEDADE, Length: 287423, dtype: object

In [114]:
valores_unicos = dados['DATA DA SITUA칂츾O ESPECIAL'].unique()
print(valores_unicos)

[nan '04/04/2024' '04/01/2024' '06/10/2017' '22/11/2022' '04/12/2015'
 '01/04/2005' '16/10/2017' '29/12/2006' '25/04/2022' '29/03/2016'
 '12/06/2019' '17/05/2002' '11/02/1992' '18/02/2010' '22/12/2004'
 '21/03/2009' '23/01/2003' '23/12/2022' '22/09/2022' '03/04/2009'
 '04/06/2013' '22/01/2008' '18/04/2006' '02/04/2007' '22/09/2020'
 '28/03/2019' '08/10/2010' '30/11/2015' '13/05/2022' '27/11/2020'
 '19/07/2024' '12/05/2017' '15/09/2022' '31/10/2023' '18/06/2024'
 '15/01/2024' '14/06/2021' '01/07/2024' '09/05/2024' '23/09/2017'
 '27/03/2014' '18/01/2023' '20/06/2019' '29/12/2010' '15/08/2016'
 '12/03/2021' '22/08/2014' '13/12/2001' '30/07/2007' '18/02/2011'
 '28/07/1995' '26/05/2021' '17/11/2005' '23/11/2005' '30/07/2004'
 '17/02/2006' '18/01/2024' '07/11/2007' '08/05/2009' '09/04/2019'
 '15/08/1995' '27/03/2019' '31/03/2021' '07/08/2023' '22/08/2012'
 '03/08/2022' '17/06/2015' '09/01/2023' '31/07/2019' '05/09/2018'
 '16/01/2020' '06/11/2023' '07/07/2020' '10/05/2022' '25/09/2024'
 '10/02/2023' '19/02/2015' '02/10/2014' '09/02/2010' '01/06/2016'
 '10/10/2010' '21/12/2015' '11/02/2003' '16/01/2013' '22/08/1995'
 '23/12/1988' '25/09/2008' '01/08/2023' '20/12/2004' '20/11/1995'
 '11/02/2004' '25/07/2005' '16/12/2014' '03/08/2017' '21/12/2020'
 '22/05/2018' '06/04/2022' '19/07/2017' '16/01/2024' '29/07/2021'
 '21/03/2021' '30/06/2022' '15/02/2023' '25/08/2017' '15/05/2024'
 '07/01/2020' '26/03/2024' '17/10/2019' '20/02/2018' '09/12/2004'
 '31/07/2014' '20/01/2022' '27/09/2014' '31/05/2023' '07/08/2006'
 '10/10/2008' '03/10/2018' '07/05/1997' '15/12/1999' '11/09/1996'
 '01/12/2021' '19/02/2024' '23/02/1992' '03/11/2016' '13/11/2013'
 '18/03/2022' '23/08/2024' '03/11/2021' '23/02/2017' '26/07/2024'
 '25/02/2021' '02/08/2010' '11/02/2011' '20/05/2002' '01/06/2008'
 '27/10/2021' '20/04/1997' '25/01/2022' '14/07/2008' '21/12/1998'
 '16/07/2009' '14/11/2016' '23/10/1998' '12/05/2023' '10/08/2020'
 '25/03/2013' '06/11/2009' '09/08/1996' '04/03/2024' '27/12/2013'
 '03/09/2024' '24/03/2017' '21/05/2024' '04/05/2016' '11/12/2023'
 '19/08/2020' '18/05/2023' '16/05/2017' '18/08/2020' '10/08/2023'
 '27/03/2024' '29/03/2021' '26/11/2020' '12/08/2022' '07/12/2005'
 '08/06/2015' '10/03/2016' '24/01/2020' '18/10/2021' '15/06/2010'
 '20/07/2007' '24/08/2007' '12/06/2014' '13/07/2000' '19/07/1996'
 '12/08/2020' '13/02/2023' '12/12/2016' '19/10/2023' '08/04/2024'
 '03/02/2023' '16/12/2021' '03/05/2017' '17/01/2017' '11/01/2018'
 '24/08/2011' '26/02/2015' '08/05/2017' '22/05/2014' '25/08/2016'
 '23/03/2011' '07/10/2003' '26/08/1981' '13/02/1999' '10/04/2007'
 '14/03/2012' '20/05/2024' '23/05/1995' '16/05/2024' '23/11/2004'
 '13/07/2015' '15/09/2020' '30/07/2013' '23/12/2008' '13/05/2014'
 '17/04/2015' '20/08/1986' '15/02/1983' '12/04/2009' '03/09/2008'
 '16/10/2020' '31/03/2006' '18/10/2013' '12/11/2019' '18/02/2002'
 '20/03/2023' '20/03/2020' '22/03/2014' '08/04/2009' '11/10/2018'
 '04/04/2013' '09/02/2017' '21/02/2022' '02/03/2022' '19/06/2024'
 '08/02/2024' '09/09/2021' '31/03/1997' '07/08/2019' '12/03/2019'
 '07/03/2018' '22/05/2017' '10/06/2019' '22/09/2021' '09/08/2023'
 '19/01/2023' '25/02/2022' '06/02/2024' '08/09/2016' '04/07/2006'
 '23/08/2004' '07/12/2003' '08/11/2011' '11/07/2002' '29/04/2013'
 '24/10/1991' '21/09/2016' '28/06/2018' '21/03/2023' '08/04/2004'
 '05/12/2018' '12/10/1978' '15/01/2019' '27/03/2008' '02/08/2023'
 '02/10/2010' '25/04/2000' '22/08/2022' '07/03/2019' '19/05/2005'
 '27/07/2009' '24/10/2001' '11/01/2020' '22/02/2000' '31/01/2019'
 '22/06/1982' '15/01/2008' '03/06/2007' '11/06/2016' '01/03/2024'
 '07/02/2020' '27/04/2021' '22/10/2021' '14/03/2023']

##### 游릴游릴 Salvando o dataframe SOCIOS

In [50]:
dados.to_parquet('Scripts_EmpresasAtivas/socios.parquet')

In [52]:
# Salva o DataFrame em formato CSV com separador e controle de casas decimais
dados.to_csv('Scripts_EmpresasAtivas/socios.csv', sep=';', decimal=',', encoding='UTF-8')